@use 'sass:color';
@import "@styles/globals";

// $color_checkbox_success: #4cd964;
$color_checkbox_default: #8e8e93;
$transition: 0.3s;
$width: 3em;
$gutter: 0.2em;
$height: $width/2;

// .atom {
.control {
	transition: $transition;
	width: $width;
	height: $height;
	box-sizing: content-box;

	border-radius: $height;
	// border: 2px solid get-color(neutral, -2, 0.8);
	// background-color: get-color(neutral, 0, 0.7);
	position: relative;
	&:after {
		box-sizing: border-box;
		transition: $transition;
		content: "";
		width: $width/2 - $gutter * 2;
		height: $height - $gutter * 2;
		display: block;
		// background: invert(get-color(background));
		border-radius: 50%;
		// box-shadow: 0 1px 2px rgba(black, 0.4), 0 3px 2px rgba(black, 0.4);
		position: absolute;
		top: 0 + $gutter;
		left: 0.1em + $gutter;
	}
}

.input:checked + .control:after {
	left: $width/2 + $gutter;
}

@include use-theme using ($ts) {
	// Theme Iterator
	#{$ts}.input + .control {
		border: 2px solid get-color(neutral, -2, 0.8);
		background-color: get-color(neutral, 0, 0.7);
		&::after {
			background: get-color(neutral, if(is-dark(), 2, -2));
		}
	}
	#{$ts}.input:checked + .control {
		border-color: get-color(neutral, -3, 0.9);
		background-color: get-color(primary, 0);
	}

	@include use-color using ($cn, $c) {
		// Color Iterator
		#{$ts}.#{$cn}.input:checked + .control {
			border-color: get-color(neutral, -3, 0.9);
			background-color: get-color($cn, 0);
		}
	}
}
// }
