@import '@styles/_globals.scss';

.comp {
    // My definitions by default

    @include use-theme using ($ts) {
        &#{$ts} {
            @include background-color(secondary, 5, $alpha: 0.4);
            border: 2px solid get-color(secondary);
        }
        &.error#{$ts} {
            @include background-color(warn, 5, $alpha: 0.4);
            border: 2px solid get-color(warn);
        }
    }
    .icon {
        float: left;
    }

    font-size: 0.9em;
    border-radius: get-space(4);
    padding: get-space(4);
    margin: get-space(3);

    // @include use-theme using ($ts){
    // 	// Theme Iterator
    // 	@include use-color using ($cn, $c){
    // 		// Color Iterator
    // 	}
    // }
}
