@import '@rootp/cindex';

.atom {
	// @include use-theme using ($ts) {
	//     &#{$ts} {
	//         @include background-color(background)
	//         // $color: color-text(get-color(background));
	//         // color: $color;
	//         // background-color: get-color(background, 1, 1);
	//     }
	// }

	position: relative;
	margin-top: 1em;
	// min-height: 20px;
	// min-width: 20px;

	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	border-radius: get-space(2);

	.content {
	}
}
