@import '../styles/globals';

.atom {
    min-width: 25em;
    max-width: 30em;
    border-radius: 0.5em;
    border: 1px solid #666;
    position: relative;
    background-color: rgb(241, 241, 241);
    display: flex;
    margin-bottom: 0.5em;
    right: -100%;
    transition: all cubic-bezier(0.455, 0.03, 0.515, 0.955) 150ms;

    &.in {
        right: 0.5em;
    }

    .icon {
        min-width: 2em;
        padding-top: 1.25em;
        overflow: hidden;
        text-align: center;
    }

    .content {
        width: 100%;
        padding-left: 0.7em;
        text-align: justify;
        &.hasIcon {
            padding-left: 0;
        }
    }

    .close {
        margin: 1em 0.35em;
    }

    .close-icon {
        font-size: 1em;
        cursor: pointer;
        border-radius: 50%;
        padding: 0.25em;
        height: 1.5em;
        width: 1.5em;

        &:hover {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }

    &.success {
        color: #43a047;
        border: 1px solid #43a047;
        background-color: #fafffa;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }

    &.warning {
        color: #fb8c00;
        border: 1px solid #fb8c00;
        background-color: #fffdfa;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }

    &.error {
        color: #e53935;
        border: 1px solid #e53935;
        background-color: #fffafa;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    }
}
