@import '../styles/globals';
@import '../styles/include-media';

.responsive {
    overflow: auto;
    position: relative;
    white-space: nowrap;
}

.comp {
    // My definitions by default
    border-spacing: 0;

    td,
    th {
        cursor: pointer;
        padding: 10px;
    }

    .small {
        td,
        th {
            padding: 5px;
        }
    }

    .sticky {
        position: -webkit-sticky;
        position: sticky;

        &.sticky-left {
            left: 0;
        }
        &.sticky-right {
            right: 0;
        }
    }

    @include use-theme using ($ts) {
        // Theme Iterator
        &#{$ts} {
            th {
                background: get-color(background, 2, 1);
            }
            td {
                background-color: get-color(background);
            }
            td,
            th {
                border-right: 1px solid get-color(background, -2, 1);
                &:last-of-type {
                    border-right: none;
                }
            }
            tbody {
                tr:hover {
                    td {
                        background: get-color(background, -1, 1);
                    }
                }
            }
        }
    }
}

.per-page {
    border: solid 1px transparent;
    outline: none;

    @include use-theme using ($ts) {
        &#{$ts} {
            &:focus,
            &:active {
                border-color: color-text(get-color(background));
            }

            option {
                $color: color-text(get-color(background));
                color: $color;
                background-color: get-color(background, 1, 1);
            }
        }
    }
}
