@import '../styles/globals';
@import '../styles/include-media';

.responsive {
    overflow: auto;
    position: relative;
    white-space: nowrap;
}

.comp {
    // My definitions by default
    border-spacing: 0;

    td,
    th {
        cursor: pointer;
        padding: 10px;
    }

    .small {
        td,
        th {
            padding: 5px;
        }
    }

    tr {
        & > td:first-of-type {
            padding-left: 1em;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 0.6em;
                height: 100%;
            }
        }
    }

    .sticky {
        position: -webkit-sticky;
        position: sticky;

        &.sticky-left {
            left: 0;
        }
        &.sticky-right {
            right: 0;
        }
    }

    tr.selected {
        & > td:first-of-type::after {
            background: get-color(primary, $alpha: 1);
        }
    }

    @include use-theme using ($ts) {
        // Theme Iterator
        &#{$ts} {
            th {
                background: get-color(background, 2, 1);
            }
            td,
            th {
                border-right: 1px solid get-color(background, -2, 1);
                &:first-of-type {
                    border-left: 1px solid get-color(background, -2, 1);
                }
            }
        }
    }

    &.default {
        td {
            background: #f1eff3;
        }
        tbody {
            tr:hover {
                td {
                    background: #ece8f0;
                }
            }
        }
        tr.selected {
            td {
                background: #dfd7e7;
            }
        }
    }

    &.dark {
        td {
            background: #2d2b2f;
        }
        tbody {
            tr:hover {
                td {
                    background: #322e36;
                }
            }
        }
        tr.selected {
            td {
                background: #3a3242;
            }
        }
    }
}

.per-page {
    border: solid 1px transparent;
    outline: none;

    @include use-theme using ($ts) {
        &#{$ts} {
            &:focus,
            &:active {
                border-color: color-text(get-color(background));
            }

            option {
                $color: color-text(get-color(background));
                color: $color;
                background-color: get-color(background, 1, 1);
            }
        }
    }
}
